/*-----------------
Fonts
-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

/*-----------------
Global Css
-------------------*/
:root{
  --Soft-Red: #aa1d21;
  --Soft-White: #fff;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-decoration: none;
    outline: none;
}

*::selection{
    background: var(--Soft-Red);
    color: var(--Soft-White);
}

/*-----------------
App
-------------------*/
.App {
    background-color: var(--Soft-White);
    padding-top: 36px;
    text-align: center;
}

/*-----------------
SearchAge
-------------------*/
.container  {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}

.container .form-control {
    text-align: left;
    margin-bottom: 15px; 
    width: 250px;
}

.container .option{
    font-size: 25px;
}
  
.container .form-label {
    width: auto;
}
  
.container .btn {
    color: var(--Soft-White);
    background-color: var(--Soft-Red);
    border-color: var(--Soft-Red);
    border-radius: 4px;
    margin-top: 20px;
    padding: 7px;
    width: 100px;
    font-size: 15px;
    box-shadow: 0 3px 5px rgb(94 104 121 / 29%);
}

 .container .btn:hover {
    color: var(--Soft-Red);
    background-color: var(--Soft-White);
    border-color: var(--Soft-Red);
    font-weight: 500;
}