/*-----------------
Fonts
-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

/*-----------------
Global Css
-------------------*/
:root{
  --Soft-Red: #aa1d21;
  --Soft-White: #fff;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-decoration: none;
    outline: none;
}

*::selection{
    background: var(--Soft-Red);
    color: var(--Soft-White);
}

/*-----------------
App
-------------------*/
.App {
    background-color: var(--Soft-White);
    padding-top: 36px;
    text-align: center;
}

/*-----------------
SearchAge
-------------------*/
.container  {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}

.container .form-control {
    text-align: left;
    margin-bottom: 15px; 
    width: 350px;
}

.container .option{
    font-size: 25px;
}
  
.container .form-label {
    width: auto;
    color:var(--Soft-Red)
}

.container .AgeText {
    max-width: inherit;
    font-size: 18px;
    margin-top: 35px;
    color: var(--Soft-Red);
} 
  
.container .CountryText {
    max-width: inherit;
    font-size: 18px;
    margin-top: 35px;
    color: var(--Soft-Red);
}